<style type="text/css">
.house_bg { background: url('<%= house_image %>'); }
</style>

<div class="main-img">
	<div class="ticket-wrapper">
		<h1 style="font-size:26px;padding:20px;"><%= house_name %></h1>
		<!--div class="left">
			<div class="icon"><img src="<%= user_image %>"></div>
				<h3 class="title"><%= house_name %><br><span class="username">by <%= user_name %></span><br><span class="tag">一緒に楽しむメンバ</span></h3>
				<div class="member" id="member-parts-area-<%= house_id %>"></div>
			</div>
		<div class="right">
		</div-->
	<div class="participant" id="audienceview"></div>
    <div class="header-icon" id="users_view"></div>
</div>

<!-- OLD STYLE -->

<div id="content-wrapper">

<div class="container"><!-- container -->
<div class="content"><!-- content -->

<div class="content-header"><!-- content-header -->
	</div><!-- /content-header -->
	<div style="clear:both;"></div>
	
	<div class="content-body"><!-- content-body -->
		<div class="main-chat"><!-- main-chat -->
			<div class="title">voice</div>
			<div id="lines1" class="chat"><!-- chat -->
			</div><!-- /chat -->			
		</div><!-- /main-chat -->
		<div class="main-view"><!-- main-view -->
			<div class="inputleft"><img src="/img/chatleft.png"></div>
			<div class="input"><!-- input -->
				<form id="send-message1">
					<table class="" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
						<td>
							<div class="inputContainer">
								<textarea id="message1"></textarea>
							</div>
						</td>
						</tr>
						<tr>
						<td>
							<div class="buttonContainer">
							<label for="submit_1">
							<input class="submitBtn" id="submit_1" type="submit" value="投稿">
							</label>
							</div>
						</td>
						</tr>
					</tbody>
					</table>
				<form>
			</div><!-- /input -->
			<div class="title">共有VIEW</div>
			<div id="view_frame" class="view"><!-- view -->
				
			</div><!-- /view -->
			<div id="disparea"><!-- audience -->
				
			</div><!-- /audience -->
		</div><!-- /main-chat -->
	</div><!-- /content-body -->
	<div style="clear:both;"></div>

</div>
</div>

</div>

<!-- /OLD STYLE -->


<script src='/js/jquery-simple-pubsub-0.2.1.js'></script>
<script src='/js/jquery.filedrop.js?v=1.0'></script>
<script src='/js/jquery.autosize.min.js?v=1.0'></script>
<script src='/js/function.js?v=1.0'></script>
<script src='/js/house.js?v=1.0'></script>
<script src='/js/audience.js?v=1.0'></script>
<script src='/js/chat.js?v=1.0'></script>
<script src='/js/timer.js?v=1.0'></script>
<script src='/js/player.js?v=1.0'></script>
<script src='/js/user.js?v=1.0'></script>
<script src='/js/users.js?v=1.0'></script>
<script src='/js/filedrop-script.js?v=1.0'></script>
<script src='/js/jquery.timeago.js?v=1.0'></script>
<script src='//www.google.com/jsapi'></script>
<script type="text/javascript">
<!--

  google.load("swfobject", "2.1");

  $(document).ready(function() {
	$('#main').addClass('house_bg');
    $('#message1').autosize();

	// participant script
	//var write_data ='';
	//write_data += makeParticipantParts(<%= house_id %>);
	//$('#dec-supporters-<%= house_id %>').append(write_data);

    // オーナーだったらsendmail 有効
    if (<%= is_owner %>) {
      // 何もしない
    } else {
      $('#send_mail').empty();
    }


    // サポーターだったらチャット有効
    if (<%= is_supporter %> || <%= is_owner %>) {
      // 特に何も無し
    } else {
      // chat 関連のエリアを無効
      $('#message1').attr("disabled", "disabled");
      $('#dropbox').empty().text('サポーターだけが投稿出来ます');
      $('#submit_1').attr("disabled", "disabled");
    }

  });


  function onHouseReady() {
    // Ensure the DOM has been fully loaded.
    $( function () {

      console.log('user joining house.');

      audience.init({});
      //timer.init();

      users.init({

      });
      chat.init({
        user_id: '<%= user_id %>',
        userName: '<%= user_name %>',
        user_image: '<%= user_image %>'
      });
      house.init({
        // server 側のres.render() から値が渡されてくる
        // server 側でチェック済み
        url_id: '<%= url_id %>',
        house_id: '<%= house_id %>',
        house_image: '<%= house_image %>',
        user_id: '<%= user_id %>',
        user_image: '<%= user_image %>'
      });

      console.log( 'house ready: true' );
    });
  }


  // chat
  onHouseReady();
  // youtube
  function onYouTubePlayerReady(playerId) {
    player.init({
    });
  }

//-->
</script>
