<script type="text/javascript">
<!--
$().ready(function(){
	//HINT
	var maxHint = 3;
	var rnd = Math.floor(Math.random()* maxHint);
	$('#view_frame').html('<img src="/img/hint'+rnd+'.png">');
});
-->
</script>

<style type="text/css">
.house_bg { background: url('<%= house_image %>'); }
</style>

<div class="main-img">
	<div class="ticket-wrapper" style="width:969px;">
		<h1 style="font-size:26px;padding:20px;"><%= house_name %></h1>
		<div id="owner_proc_area" style="float:right; display:none;">
			<div class="btn" id="event_end_proc">終了</div>
			<div class="btn" id="event_all_mail">メール一斉送信</div>
		</div>
	<div class="participant" id="audienceview"></div>
    <div class="header-icon" id="users_view"></div>
</div>

<!-- OLD STYLE -->

<div id="content-wrapper">

<div class="container"><!-- container -->
<div class="content"><!-- content -->

<div class="content-header"><!-- content-header -->
	</div><!-- /content-header -->
	<div style="clear:both;"></div>
	
	<div class="content-body"><!-- content-body -->
		<div class="main-view"><!-- main-view -->
			<div class="title">みんなで見る画面</div>
			<div class="buttonContainer">
				<div class="input"><!-- input -->
				<form id="send-message1">
					<table class="" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
						<td>
							<div class="inputContainer">
								<textarea id="message1"></textarea>
							</div>
						</td>
						</tr>
						<tr>
						<td>
							<div class="buttonContainer">
								<div id="dropbox" style="float:left;">
									<span id="drop_message" class="message">このエリアに画像をドラック＆ドロップ</span>
								</div>
							<label for="submit_1">
							<input class="submitBtn" id="submit_1" type="submit" value="投稿">
							</label>
							</div>
						</td>
						</tr>
					</tbody>
					</table>
				<form>
				</div><!-- /input -->
			</div>
			<div id="disparea">
				<div id="view_frame" class="view"><!-- HINT --></div>
			</div>		
		</div><!-- /main-view -->
		<div class="main-chat"><!-- main-chat -->
			<div class="title">チャット</div>
			<div class="input"><!-- input -->
				<form id="send-message1">
					<table class="" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
						<td>
							<div class="inputContainer">
								<textarea id="message1"></textarea>
							</div>
						</td>
						</tr>
						<tr>
						<td>
							<div class="buttonContainer">
							<label for="submit_1">
								<input class="submitBtn" id="submit_1" type="submit" value="投稿">
							</label>
							</div>
						</td>
						</tr>
					</tbody>
					</table>
				<form>
			</div><!-- /input -->
			<div id="lines1" class="chat"><!-- chat -->
			</div><!-- /chat -->
		</div><!-- /main-chat -->
	</div><!-- /content-body -->
	<div style="clear:both;"></div>

</div>
</div>

</div>

<!-- /OLD STYLE -->


<script src='/js/jquery-simple-pubsub-0.2.1.js'></script>
<script src='/js/jquery.filedrop.js?v=1.0'></script>
<script src='/js/jquery.autosize.min.js?v=1.0'></script>
<script src='/js/function.js?v=1.0'></script>
<script src='/js/house.js?v=1.0'></script>
<script src='/js/audience.js?v=1.0'></script>
<script src='/js/chat.js?v=1.0'></script>
<script src='/js/timer.js?v=1.0'></script>
<script src='/js/player.js?v=1.0'></script>
<script src='/js/user.js?v=1.0'></script>
<script src='/js/users.js?v=1.0'></script>
<script src='/js/filedrop-script.js?v=1.0'></script>
<script src='/js/jquery.timeago.js?v=1.0'></script>
<script src='//www.google.com/jsapi'></script>
<script type="text/javascript">
<!--

  google.load("swfobject", "2.1");

  $(document).ready(function() {
	$('#main').addClass('house_bg');
    $('#message1').autosize();

	// participant script
	//var write_data ='';
	//write_data += makeParticipantParts(<%= house_id %>);
	//$('#dec-supporters-<%= house_id %>').append(write_data);

    // オーナーだったらsendmail 有効
    if (<%= is_owner %>) {
      $('#owner_proc_area').show();
    } else {
      $('#owner_proc_area').empty();
    }

    if (<%= house_status %> === 1) {
      $('#owner_proc_area').empty();
      $('#owner_proc_area').html('<a href="/suc/<%= house_id %>">このイベントは終了しています</a>');

      $('#message1').attr("disabled", "disabled");
      $('#submit_1').attr("disabled", "disabled");
    }

    // サポーターだったらチャット有効
    if (<%= is_supporter %> || <%= is_owner %>) {
      // 特に何も無し
    } else {
      // chat 関連のエリアを無効
      $('#message1').attr("disabled", "disabled");
      $('#dropbox').empty().text('サポーターだけが投稿出来ます');
      $('#submit_1').attr("disabled", "disabled");
    }

  });


  function onHouseReady() {
    // Ensure the DOM has been fully loaded.
    $( function () {

      console.log('user joining house.');

      audience.init({});
      //timer.init();

      users.init({

      });
      chat.init({
        user_id: '<%= user_id %>',
        userName: '<%= user_name %>',
        user_image: '<%= user_image %>'
      });
      house.init({
        // server 側のres.render() から値が渡されてくる
        // server 側でチェック済み
        url_id: '<%= url_id %>',
        house_id: '<%= house_id %>',
        house_image: '<%= house_image %>',
        user_id: '<%= user_id %>',
        user_image: '<%= user_image %>'
      });

      console.log( 'house ready: true' );
    });
  }


  // chat
  onHouseReady();
  // youtube
  function onYouTubePlayerReady(playerId) {
    player.init({
    });
  }


  // 終了対応
  $('#event_end_proc').click(function () {
    if (window.confirm('本当にこのイベントを終了させますか？')) {

    } else {
      return false;
    }

    $.ajax({
      type: 'POST',
      url: '/end-proc',
      data: {dec_id: <%= house_id %>, owner_id: <%= user_id %>},
      success: function(data){
        if (data.flg_update) {
          alert('成功しました');
          location.href = "/suc/<%= house_id %>";
          return;
        }
      },
      error: function(data){
        // error
      }
    });


    return false;
  });

  // メール一斉送信
  $('#event_all_mail').click(function () {
    if (window.confirm('本当にメール送信しますか？')) {

    } else {
      return false;
    }

    $.ajax({
      type: 'POST',
      url: '/sendmail',
      data: {dec_id: <%= house_id %>, owner_id: <%= user_id %>},
      success: function(data){
        if (data.flg_sendmail) {
          alert('送信成功しました');
          return;
        }
      },
      error: function(data){
        // error
      }
    });

    return false;
  });
//-->
</script>
