!!! 5
html(lang='ja', xmlns:og='http://ogp.me/ns#', xmlns:fb='http://www.facebook.com/2008/fbml')
  //
     head 
  head
    title dot1
    //
       meta 
    meta(charset='UTF-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    //
       meta ogp 
    meta(property='go:title', content='')
    meta(property='go:type', content='site')
    meta(property='go:url', content='')
    meta(property='go:description', content='')
    meta(property='go:image', content='')
    meta(property='go:site_name', content='syaberi-house')
    meta(property='fb:page_id', content='')
    //
       link 
    link(href='/css/style.css', rel='stylesheet', type='text/css', media='all')
    link(href="/css/bootstrap.min.css", rel="stylesheet")
    style(type="text/css")
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    link(href="/css/bootstrap.min.responsive", rel="stylesheet")
    script(type='text/javascript', src='/js/iscroll.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/jquery-1.7.1.min.js')
    script(src='/js/jquery-simple-pubsub-0.2.1.js')
    script(src='/js/jquery.filedrop.js?v=1.0')
    script(src='/js/jquery.autosize.min.js?v=1.0')
    script(src='/js/function.js?v=1.0')
    script(src='/js/house.js?v=1.0')
    script(src='/js/audience.js?v=1.0')
    script(src='/js/chat.js?v=1.0')
    script(src='/js/timer.js?v=1.0')
    script(src='/js/player.js?v=1.0')
    script(src='/js/user.js?v=1.0')
    script(src='/js/users.js?v=1.0')
    script(src='/js/filedrop-script.js?v=1.0')
    script(src='/js/jquery.timeago.js?v=1.0')
    script(src='//www.google.com/jsapi')
    script
      google.load("swfobject", "2.1");

      $(document).ready(function() {
        $('body.chat').css('background-image', 'url(#{house_image})');
        $('#message1').autosize();

        // オーナーだったらsendmail 有効
        if (#{is_owner}) {
          // 何もしない
        } else {
          $('#send_mail').empty();
        }


        // サポーターだったらチャット有効
        if (#{is_supporter} || #{is_owner}) {
          // 特に何も無し
        } else {
          // chat 関連のエリアを無効
          $('#message1').attr("disabled", "disabled");
          $('#dropbox').empty().text('サポーターだけが投稿出来ます');
          $('#submit_1').attr("disabled", "disabled");
        }

      });


      function onHouseReady() {
        // Ensure the DOM has been fully loaded.
        $( function () {

          console.log('user joining house.');

          audience.init({});
          //timer.init();

          player.init({
            //element: $("#myytplayer").live(get(0));
          });

          users.init({

          });
          chat.init({
            user_id: '#{user_id}',
            userName: '#{user_name}',
            user_image: '#{user_image}'
          });
          house.init({
            // server 側のres.render() から値が渡されてくる
            // server 側でチェック済み
            url_id: '#{url_id}',
            house_id: '#{house_id}',
            house_image: '#{house_image}',
            user_id: '#{user_id}',
            user_image: '#{user_image}'
          });

          //$('body.chat').css({background-image: url('#{house_image}')});
          console.log( 'house ready: true' );
        });
      }


  //
     body 
  body.chat
    #container-old
      //
         container 

      #wrapper
        //
           wrapper 
        #scroller
          //
             iscroller 
          //
             header 
        //
          header#globalheader
            .logo
              h3
                img(src='/img/logo-mini.png', alt='syaberi-house')
        .navbar.navbar-fixed-top
          .navbar-inner
            .container
              a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.brand(href='/') dotOne
              .nav-collapse
                ul.nav
                  li
                    a(href='/dec') 宣言一覧
                  li
                    a(href='/suc') サクセス一覧
                  li
                    a(href='#contact') dot1について
                ul.nav.pull-right
                  li.active
                    a(href='/mypage') マイページ

          //
             content-wrapper 
          section#content-wrapper
            .container-old
              //
                 container 
              .overlay
              .content
                //
                   content 
                .content-header
                  //
                     content-header 
                  .badge
                    img(src='/img/live-badge.png')
                  .title
                    //
                       title 
                    h1 #{house_name}
                    p #{house_desc}
                    
                    #send_mail
                                  a(class="btn btn-large btn-success", data-toggle="modal", href="#send_mail_win")
                                    i(class="icon-envelope icon-white")
                                    サポーター全員に通知メールを送る
                    
                  //
                     /title 
                  .member-face
                    //
                       member-face 
                    ul
                      #audienceview.audience
                      #users_view.header-icon
                  //
                     /member-face 
                //
                   /content-header 
                div(style='clear: both;')
                .content-body
                  //
                     content-body 
                  .main-chat
                    //
                       main-chat 
                    .title voice
                    #lines1.chat
                      //
                         /chat-content 
                    //
                       /chat 
                  //
                     /main-chat 
                  .main-view
                    //
                       main-view 
                    .inputleft
                      img(src='/img/chatleft.png')
                    .input
                      //
                         input 
                      form#send-message1
                        table.dummy(cellspacing='0', cellpadding='0')
                          tbody
                            tr
                              td
                                .inputContainer
                                  textarea#message1
                            tr
                              td
                                .buttonContainer
                                  #dropbox
                                    span#drop_message.message Drop images here to upload.
                                  //#tmp_message_area
                                  label(for='submit_1')
                                    input#submit_1.submitBtn(type='button', value='投稿')
                        form
                    //
                       /input
                    .title 共有VIEW
                    .view
                      //
                         view 
                      #disparea
                      #ytapiplayer You need Flash player 8+ and JavaScript enabled to view this video.
                      #player-ctrl
                        a(href="javascript:void(0);", id="video-start") start
                        |
                        a(href="javascript:void(0);", id="video-play") Play
                        |
                        a(href="javascript:void(0);", id="video-pause") Pause
                        |
                        a(href="javascript:void(0);", id="video-stop") Stop
                        |

                    //
                       /view 
                  //
                     /main-chat 
                //
                   /content-body 
                div(style='clear: both;')
              //
                 /container 
            //
               /content 
          //
             footer 
          footer#globalfooter
        //
           /iscroller 
      //
         /wrapper 
      //
         audience 
    //
       /container 

    #send_mail_win.modal.hide.fade(style="display:none;")
      .modal-header
        a.close(data-dismiss='modal') ×
        h3 送信確認
      .modal-body
        p(id="mdl_pbody") 送信しますか？
      #mdl_footer.modal-footer
        a.btn.btn-primary(id="send_mail_ok", href='#') OK
        a.btn(data-dismiss='modal', href='#') Cancel


    script(src='/js/bootstrap.min.js')
    script
      var params = { allowScriptAccess: "always", bgcolor: "#cccccc" };
      var atts = { id: "myytplayer" };
      swfobject.embedSWF("http://gdata.youtube.com/apiplayer?key=AI39si7uG-sNXZtXIClnUvP5HArP1LfH60j0EfKc-8pLVRSOauN-NwLbVkxOZ2v3p6v_Cg1_iZf2D2KcM5ih2Gd5VFDH90D7nA&enablejsapi=1&playerapiid=ytplayer", "ytapiplayer", "500", "300", "8", null, null, params, atts);

      console.log('youtube-ok');

      function onYouTubePlayerReady(playerId) {
        onHouseReady();
      }

      $('#send_mail_ok').click(function() {
        $.ajax({
          type: "POST",
          url: "/sendmail",
          data: {id: #{house_id}},
          success: function(msg){
            $('#mdl_pbody').text(msg.text);
            $('#mdl_footer').hide();
          }
        });

      });




