<div class="main-img">
		<div class="ticket-wrapper">
		<div class="left">
			<div class="icon"><img src="<%= dec_detail.user_image %>"></div>
			<h3 class="title"><%= dec_detail.title %><br><span class="username">by <%= dec_detail.user_name %></span><br><span class="tag">一緒に楽しむメンバ</span><span class="status-a">参加者募集中</span></h3>
			<div class="time">スタートまで:<span class="counter">残り23時間17分22秒</span></div>
			<div class="member">参加者:<span class="counter">残り982人</span>/1,000人</div>
		</div>
		<div class="right">
			<a href="javascript:void(0);" id="join-button-right"><div class="button">参加</div></a>
		</div>
		<div class="participant">
			<img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg">
			</div>
		</div>
	</div>
<div class="left-content">
		<h2 class="title">DETAILS</h2>
		<div class="details">
			<%- dec_detail.detail %>
		</div>
		<a href="#" id="join-button-bottom"><div class="btn">参加する</div></a>
	</div>
<div class="right-content">
		<!--div class="AD"><img src="img/AD_350x240.gif"></div-->
		<h2 class="title-sub">HOT EVENTS</h2><h2>
		<ul>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
		</ul>
		</h2><h2 class="title-sub">もうすぐスタート！</h2><h2>
		<ul>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
		</ul>
		</h2><h2 class="title-sub">参加人数ランキング</h2><h2>
		<ul>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
		</ul>
	</h2></div>
<div class="clear"></div>

<script type="text/javascript">

  $().ready(function () {
    $.ajax({
      type: "GET",
      url: "/get-is-supporters",
      data: {dec_id: <%= dec_detail.id %>, user_id: 1},
      success: function(data){

      },
      error: function(data){

      }
    });
  });



    $('#join-button-right, #join-button-bottom').click(function() {
      var obj = $(this);
      obj.hide();
      $('#view-more-loader').show();

      $.ajax({
        type: "POST",
        url: "/join-commit",
        data: {id: <%= dec_detail.id %>},
        success: function(msg){
          //$('#mdl_pbody').text(msg.text);
          //$('#mdl_footer').hide();
          //if (msg.cnt_up) {
          //  var new_dec_supporter_num = $('#dec_supporter_num').text();
          //  new_dec_supporter_num++;
          //  $('#dec_supporter_num').text(new_dec_supporter_num);
          //  $('#dec_supporter_num_foot').text(new_dec_supporter_num);
          //}
        },
        error: function(data){
          // error
        }
      });
    });


</script>
