<script type="text/javascript">
<!--
$().ready(function(){
	var last_id = 0;
	var write_data = '';
	<% for (var i in dec_list) { %>
		var event_list = Object;
		event_list.id = <%= dec_list[i].id %>;
		event_list.title = "<%= dec_list[i].title %>";
		event_list.user_image = "<%= dec_list[i].user_image %>";
		event_list.target_num = <%= dec_list[i].target_num %>;
		event_list.supporter_num = <%= dec_list[i].supporter_num %>;
		write_data += makeEventListParts(event_list);
		last_id = <%= dec_list[i].id %>;
	<% } %>
	$('#ul-events').append(write_data);
	$('#last_id').html(last_id);
});
-->
</script>

	<div class="main-img"></div>

	<div class="left-content">
			<ul id="ul-events">
				<li><a href="013.html"><div class="create btn">新しいEVENTを作る</div></a></li>
			</ul>
		</div>

	<div class="right-content">
		<!--div class="AD"><img src="img/AD_350x240.gif"></div-->
		<h2 class="title-sub">HOT EVENTS</h2><h2>
		<ul>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
		</ul>
		</h2><h2 class="title-sub">もうすぐスタート！</h2><h2>
		<ul>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
		</ul>
		</h2><h2 class="title-sub">参加人数ランキング</h2><h2>
		<ul>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
		</ul>
	</h2></div>
<div class="clear"></div>
