<!DOCTYPE HTML>
<html lang="ja">
<head>
<title>マイページ｜シャベリハウス</title>
<meta charset="UTF-8">
<meta name="description" content="twitterユーザーが趣味と興味でつながるリアルタイムなおしゃべり部屋。シャベリハウス">
<meta name="keywords" content="シャベリハウス,チャット,趣味,興味,twitter">
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" charset="UTF-8"></script><![endif]-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" charset="UTF-8"></script>
<script src="/js/common.js" type="text/javascript" charset="UTF-8"></script>
<link rel="shortcut icon" href="http://syaberi-house.com/images/favicon.ico" />
<!-- analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29477382-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
<link rel="stylesheet" href="/css/html5reset-1.6.1.css" />
<link rel="stylesheet" href="/css/common.css" />
<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<div id="wrapper">

<%- partial('header') %>




<script type="text/javascript">
<!--
$().ready(function(){
	var last_id = 0;
	var write_data = '';
	<% for (var i in dec_list) { %>
		var event_list = Object;
		event_list.id = <%= dec_list[i].id %>;
		event_list.title = "<%= dec_list[i].title %>";
		event_list.user_name = "<%= dec_list[i].user_name %>";
		event_list.user_image = "<%= dec_list[i].user_image %>";
		event_list.deadline = "<%= dec_list[i].deadline %>";
		event_list.target_num = <%= dec_list[i].target_num %>;
		event_list.supporter_num = <%= dec_list[i].supporter_num %>;
		write_data += makeEventListParts(event_list);
		last_id = <%= dec_list[i].id %>;
	<% } %>
	$('#ul-events').append(write_data);
	$('#last_id').html(last_id);
});
-->
</script>

	<div class="main-img"></div>

	<div class="left-content">
			<ul id="ul-events">
				<li><a href="/create-dec"><div class="create btn">新しいチャット部屋をつくる</div></a></li>
				<!-- $()ready() -->
			</ul>
			<ul>
				<li>
					<div id="view-more-loader" class="btn" style="text-align:center;padding:20px;display:none;"><img src="/img/loader.gif" /></div>
					<a id="view-more-events"><div class="btn">もっと見る</div></a>
					<div id="last_id" style="display:none;"><!-- $()ready() --></div>
				</li>
			</ul>
		</div>

	<div class="right-content">
		<!--div class="AD"><img src="/img/AD_350x240.gif"></div-->
		<h2 class="title-sub">楽しみかた</h2>
		<ul>
			<li><a href="/create-dec"><img src="/img/howto.png"></a></li>
		</ul>
		<!--h2 class="title-sub">HOT EVENTS</h2><h2>
		<ul>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
		</ul>
		</h2><h2 class="title-sub">もうすぐスタート！</h2><h2>
		<ul>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
		</ul>
		</h2><h2 class="title-sub">参加人数ランキング</h2><h2>
		<ul>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
		</ul-->
	</h2></div>
<div class="clear"></div>



<%- partial('footer') %>
<%- partial('footer-script') %>

</body>
</html>
