<div class="main-img">
		<div class="ticket-wrapper">
		<div class="left">
			<div class="icon"><img src="<%= dec_detail.user_image %>"></div>
			<h3 class="title"><%= dec_detail.title %><br><span class="username">by <%= dec_detail.user_name %></span><!--br><span class="tag">一緒に楽しむメンバ</span><span class="status-a">参加者募集中</span--></h3>
			<div class="member" id="member-parts-area-<%= dec_detail.id %>"></div>
		</div>
		<div class="right"><ul>
			<a href="#" name="join-button-right"><li class="btn" id="join-button-right-<%= dec_detail.id %>" style="display:none;">参加</li></a>
			<a href="/ch/<%= dec_detail.id %>" name="room-button-right"><li class="btn2" id="room-button-right-<%= dec_detail.id %>" style="display:none;">会場</li></a>
			<a href="/auth/twitter"><div class="btn" id="login-button-right-<%= dec_detail.id %>" style="display:none;">ログイン</div></a>
		</ul></div>
		<div class="participant" id="dec-supporters-<%= dec_detail.id %>">
		</div>
	</div>
<div class="left-content">
		<h2 class="title">詳細</h2>
		<div class="details">
			<%= dec_detail.detail %>
		</div>
		<div><ul>
			<a href="#" name="join-button-bottom"><li class="btn" id="join-button-bottom-<%= dec_detail.id %>" style="display:none;">参加する</li></a>
			<a href="/ch/<%= dec_detail.id %>" name="room-button-bottom"><li class="btn2" id="room-button-bottom-<%= dec_detail.id %>" style="display:none;">会場に行く</li></a>
			<a href="/auth/twitter"><div class="btn" id="login-button-bottom-<%= dec_detail.id %>" style="display:none;">ログイン</div></a>
			
		</ul></div>
	</div>
<div class="right-content">
		<!--div class="AD"><img src="/img/AD_350x240.gif"></div-->
		<h2 class="title-sub">楽しみかた</h2>
		<ul>
			<li><img src="/img/howto.png"></li>
		</ul>
	</h2></div>
<div class="clear"></div>
<div id="write-script-area"></div>

<script type="text/javascript">

  $().ready(function () {

    // カウントダウンパーツの書き出し
    var event_id = <%= dec_detail.id %>;
//    var countdown_parts = makeCountDownParts("<%= dec_detail.deadline %>", event_id);
//    $('#write-script-area').append(countdown_parts);

    // 参加者数の書き出し
    var target_num = <%= dec_detail.target_num %>;
    var supporter_num = <%= dec_detail.supporter_num %>;
    var member_parts = makeMemberParts(event_id, target_num, supporter_num);
    $('#dec-supporters-'+event_id).append(member_parts);

    // サポーターリストパーツの書き出し
    var participant_parts = makeParticipantParts(event_id);
    $('#write-script-area').append(participant_parts);



    // 参加状態のチェック
//    if (target_num === supporter_num) {
//      $('#join-button-right-'+event_id).parent().parent().html('<div class="btned">満員</div><a href="/dec/'+event_id+'">');
//      $('#join-button-bottom-'+event_id).parent().parent().html('<div class="btned">満員</div><a href="/dec/'+event_id+'">');
//    } else {
      $.ajax({
        type: 'GET',
        url: '/get-is-supporters',
        data: {dec_id: <%= dec_detail.id %>},
        success: function(data){
          if (data.res_flg) {
            $('#room-button-right-'+event_id).show();
            $('#room-button-bottom-'+event_id).show();
          } else {
            $('#join-button-right-'+event_id).show();
            $('#join-button-bottom-'+event_id).show();
            $('#room-button-right-'+event_id).hide();
            $('#room-button-bottom-'+event_id).hide();
          }
        },
        error: function(data){
          if (data.status === 401) {
            $('#login-button-right-'+event_id).show();
            $('#login-button-bottom-'+event_id).show();
          }
        }
      });

//    }
  });


</script>
