<!DOCTYPE HTML>
<html lang="ja">
<head>
<title><%= dec_detail.title %></title>
<meta charset="UTF-8">
<meta name="description" content="twitterユーザーが趣味と興味でつながるリアルタイムなおしゃべり部屋。シャベリハウス">
<meta name="keywords" content="シャベリハウス,チャット,趣味,興味,twitter">
<script src="/js/globalcommon.js" charset="UTF-8"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" charset="UTF-8"></script>
<script src="/js/common.js" type="text/javascript" charset="UTF-8"></script>
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" charset="UTF-8"></script><![endif]-->
<link rel="stylesheet" href="/css/html5reset-1.6.1.css" />
<link rel="stylesheet" href="/css/common.css" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/nyroModal.css">
<script src="/js/jquery.tinyscrollbar.min.js" charset="UTF-8"></script>
<script type="text/javascript">
//write function jquery.tinyscrollbar.min.js line:498
function forscrol(){
	setTimeout(function(){
		$('#scrollbar1').tinyscrollbar();
	},1500);
}
</script>
<script src="/js/jquery.nyroModal.custom.js" charset="UTF-8"></script>
<script>
<!--

// snsトークン取得
var sns_token = "";
var sns_user_name = "";
var sns_service = "";
var sns_service_id = "";
(function() {
	var tim = new Date();
	var parameters = "tim=" + tim.getSeconds()+tim.getMilliseconds();
	var request = "/get-session?"+parameters;
//	alert(request);
	var httpoj = createHttpRequest()
	httpoj.open( "GET" , request , true )
	httpoj.onreadystatechange = function(){ 
		if ((httpoj.readyState==4) && (httpoj.status == 200)){
			var args = {};
			var arr = httpoj.responseText;
			var getSessionJson = eval("(" + arr + ")");
			
			//alert(getSessionJson["accessToken"]);
			sns_token = getSessionJson["accessToken"];
			sns_user_name = getSessionJson["user_name"];
			sns_service = getSessionJson["service"];
			sns_service_id = getSessionJson["oauth_service_id"];;

			if(sns_service == "facebook"){
				getfbFriend();

				if(window.addEventListener) {
					window.addEventListener("load", fbDisplay, false);
				}
				else if(window.attachEvent) {
					window.attachEvent("onload", fbDisplay);
				}

			}else if(sns_service == "twitter"){
				gettwFriend(sns_service_id);

				if(window.addEventListener) {
					window.addEventListener("load", twDisplay, false);
				}
				else if(window.attachEvent) {
					window.attachEvent("onload", twDisplay);
				}
			}
		}
	}
	httpoj.send();
}());
// snsトークン取得
function fbDisplay(){
	document.getElementById("tab_1").style.display = "block";
	document.getElementById("tab_1_area").style.display = "block";
}
function twDisplay(){
	document.getElementById("tab_2").style.display = "block";
	document.getElementById("tab_2_area").style.display = "block";
}

/*****************  twitter ****************************************************/
(function($) {

	$.extend({
		_jsonp : {
			scripts: {},
			charset: 'utf-8',
			counter: 1,
			head: document.getElementsByTagName("head")[0],
			name: function( callback ) {
				var name = '_jsonp_' +  (new Date).getTime()
					+ '_' + this.counter;
				this.counter++;
				var cb = function( json ) {
					eval( 'delete ' + name );
					callback( json );
					$._jsonp.head.removeChild( $._jsonp.scripts[ name ] );
					delete $._jsonp.scripts[ name ];
				};
				eval( name + ' = cb' );
				return name;
			},
			load: function( url, name ) {
				var script = document.createElement( 'script' );
				script.type    = 'text/javascript';
				script.charset = this.charset;
				script.src     = url;
				this.head.appendChild( script );
				this.scripts[ name ] = script;
			}
		},

		getJSONP : function ( url, callback ){
			var name = $._jsonp.name( callback );
			var url = url.replace( /{callback}/, name );
			$._jsonp.load( url, name );
			return this;
		}
	});

})(jQuery);

var cursor = "-1";
var tw_friends = new Array();
var tw_flag = true;
var timerID;
var tw_friendsJson = '{"data":[';


function tw_make_json(sns_id){
	var url="http://api.twitter.com/1/statuses/friends.json?id=" + sns_id + "&cursor=" + cursor + "&callback={callback}";
	$.getJSONP(url, function(obj){
	  if(cursor != obj["next_cursor"]){
	    cursor = obj["next_cursor"];
	    if(obj["users"].length != 0){
			
		    for(var i=0;i<obj["users"].length;i++){
	    	        //tw_friends.push(obj["users"][i]["name"]);
			tw_friendsJson += '{"id":"'+ obj["users"][i]["id"] +'","name":"'+ obj["users"][i]["name"] +'","screen_name":"'+ obj["users"][i]["screen_name"] +'"}';
			//alert(tw_friends[i]);
			if((cursor == "0") && (obj["users"].length == ( i + 1 ))){
		    		tw_friendsJson += ']}';
		    	}else{
		    		tw_friendsJson += ',';
			}
		    }
		if(cursor == "0"){
			clearInterval(timerID);
			print_tw();
		}
	    }else{
		clearInterval(timerID);
		tw_friendsJson += ']}';
		print_tw();
	    }
	  }
	});
}

function gettwFriend(sns_id){
	timerID = setInterval(function(){
	        tw_make_json(sns_id);
	},500);
}

function print_tw(){
	var tw_friendsArr = eval('('+tw_friendsJson+')');
//	alert(tw_friendsArr["data"].length);
	var str = ""
	for( var i = 0 ; i < tw_friendsArr["data"].length ; i++ ){
		str += '<li>';
		str += '	<div class="invite_li_input"><input type="checkbox" name="tw_'+tw_friendsArr["data"][i]["id"]+'" id="tw_'+tw_friendsArr["data"][i]["id"]+'" value="'+tw_friendsArr["data"][i]["screen_name"]+'" class="invite_table_td_tumnb_checkbox"></div>';
		str += '	<div class="invite_li_tumnb"><img src="http://img.tweetimag.es/i/'+tw_friendsArr["data"][i]["screen_name"]+'_o" width="40" height="40"></div>';
		str += '	<div class="invite_li_name">'+tw_friendsArr["data"][i]["name"]+'</div>';
		str += '</li>';
	}
	document.getElementById("tab_2_area").innerHTML = str;
	$('#scrollbar1').tinyscrollbar();

}

function tw_sendMessage(){
	var message_text = sns_user_name + 'さんがチャットに誘ってます！';
	var check_count = document.getElementById("tab_2_area").getElementsByTagName("input").length;
	var check_obj = document.getElementById("tab_2_area").getElementsByTagName("input");
	var check_num = 0;

//	alert(message_text);
//	alert(check_count);
	var check_num = 0;

	for(var i = 0;i < check_count ; i++ ){
		if(check_obj[i].checked){
			var for_account = "@"+check_obj[i].value;
			var tim = new Date();
			var parameters = "message="+ for_account + " " + message_text + " " + location.href +"&tim=" + tim.getSeconds()+tim.getMilliseconds();
			var request = "/send-twitter";
		//	alert(request);
			var httpoj = createHttpRequest()
			httpoj.open( "POST" , request , true )
			httpoj.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8'); 
			httpoj.onreadystatechange = function(){ 
				if ((httpoj.readyState==4) && (httpoj.status == 200)){
					var args = {};
					var arr = httpoj.responseText;
					var send_return = eval("(" + arr + ")");
					//alert(send_return["return"]);
				}
			}
			httpoj.send(parameters);

			check_num++;
		}
	}
//	alert(check_num);
	if(check_num == 0){
		alert("招待する友達を選択してください。");
		return false;
	}
	chg_inv_disp();
}


/*****************  /twitter ****************************************************/

function sendMessage(){
	if(sns_service == "facebook"){

		fb_sendMessage();

	}else if(sns_service == "twitter"){

		tw_sendMessage();

	}
}
/*****************  facebook ****************************************************/

//function getFacebookFriends(){
function getfbFriend(){
	if(sns_service == "facebook"){
		var tim = new Date();
		var parameters = "tim=" + tim.getSeconds()+tim.getMilliseconds();
		var request = "/facebook-get-friends?"+parameters;
	//	alert(request);
		var httpoj = createHttpRequest()
		httpoj.open( "GET" , request , true )
		httpoj.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8'); 
		httpoj.onreadystatechange = function(){ 
			if ((httpoj.readyState==4) && (httpoj.status == 200)){
				var args = {};
				var arr = httpoj.responseText;
				var json_text = eval("(" + arr + ")");
				if(json_text["login_flg"] != false){
					var getFriendJson = eval("(" + json_text + ")");
					
					fbFriendList(getFriendJson["data"]);
				}
			}
		}
		httpoj.send();
	}
}

function fb_sendMessage(){
	var message_text = sns_user_name + 'さんがチャットに誘ってます！';

//	alert(document.getElementById("tab_1_area").getElementsByTagName("input").length);
	var check_count = document.getElementById("tab_1_area").getElementsByTagName("input").length;
	var check_obj = document.getElementById("tab_1_area").getElementsByTagName("input");
	var check_num = 0;

	for(var i = 0;i < check_count ; i++ ){
		if(check_obj[i].checked){
			check_num++;
//			alert(check_obj[i].value);
			
			FB.api('/'+check_obj[i].value+'/feed','post', { access_token: sns_token , message: message_text , picture: location.protocol+'//'+ location.host +'/images/common/logo.gif', link: location.href},
				function(response) {
					// コールバック
					//alert('ID: ' + response.id);
				}
			);

		}
	}

	if(check_num == 0){
		alert("招待する友達を選択してください。");
		return false;
	}
	chg_inv_disp();
}



function fbFriendList(arr){
	var str = ""
	for( var i = 0 ; i < arr.length ; i++ ){
		str += '<li>';
		str += '	<div class="invite_li_input"><input type="checkbox" name="fb_'+arr[i]["id"]+'" id="fb_'+arr[i]["id"]+'" value="'+arr[i]["id"]+'" class="invite_table_td_tumnb_checkbox"></div>';
		str += '	<div class="invite_li_tumnb"><img src="https://graph.facebook.com/'+arr[i]["id"]+'/picture" width="40" height="40"></div>';
		str += '	<div class="invite_li_name">'+arr[i]["name"]+'</div>';
		str += '</li>';

	}
	document.getElementById("tab_1_area").innerHTML = str;
	$('#scrollbar1').tinyscrollbar();

}
/*****************  /facebook ****************************************************/


//:::::切り替え:::::
function chg_inv_disp(){
	$('.viewport').css('display','none');
	$('#inv_submit').css('display','none');
	$('#tab_ul').css('display','none');
	$('#end_disp').fadeIn();
}
$(document).ready(function(){
	$('#inv_friendsbtn').click(function(){
		$('#tab_ul').css('display','block');
		$('#inv_submit').css('display','block');
		$('#end_disp').css('display','none');
		$('.tab_wrapp input').attr('checked',false);
		$('.viewport').css('display','block');
	});
});
//:::::切り替え:::::

// -->
</script>

</head>
<body>
<!-- facebook -->
<div id="fb-root"></div>
<script src="http://connect.facebook.net/ja_JP/all.js"></script>
<script>
FB.init({ appId: fb_appId,
	status: true, 
	cookie: true,
	xfbml: true,
	oauth: true
});
</script>
<!-- /facebook -->

<div id="wrapper">

<%- partial('header') %>






<div id="contents_wrapp">
	<div id="contents_wrapp_inside">
		<section class="section_makeroome" id="pnode">
			<img src="/data/<%= dec_detail.id %>/images/thumb_l.jpg" onerror="document.getElementById('pnode').parentNode.removeChild(document.getElementById('pnode'));"/>
		</section>
		<section class="section_makeroome">
			<div class="mag10">
				<h3 id="section_makeroome_h3"><%= dec_detail.title %></h3>
				<p><%= dec_detail.detail %></p>
			</div>
			<div id="joinedthumbs_wrapp" class="clearfix">
				<div id="joined_details"><span class="member-count" id="member-counter-<%= dec_detail.id %>"><%= dec_detail.supporter_num %></span></div>
				 <div id="dec-supporters-<%= dec_detail.id %>">
				</div>
			</div><!--/joinedthumbs_wrapp-->
		<a href="#" name="join-button-right-join"><img id="join-button-right-join-<%= dec_detail.id %>" style="display:none;" src="/images/section_makeroome_join.gif" width="260" height="39" alt="フォローする"></a>
		<a href="#" name="cancel-join-button-right-join"><img id="cancel-join-button-right-join-<%= dec_detail.id %>" style="display:none;" src="/images/cancel-join.gif" width="77" height="20" alt="×参加取消"></a>
		<div class="magt15_magb15" style="display:none;"><a href="#lightboxinvite_wrapp" class="nyroModal" rel="lightboxinvite"><img src="/images/section_makeroome_invitefriends.gif" width="260" height="39" alt="このコミュニティに友達を招待する"></a></div>
		</section>
		<section id="section_make_chatroom" style="display:none;">
			<div class="bg_r bdbt padt10 padb10"><a href="#likebox_wrapp_form" class="nyroModal" rel="lightboxform"><img src="/images/section_makeroome_makechatroom.gif" width="942" height="39" alt="新しいチャットルームをつくる"></a></div>

<% for(var i in suc_obj){ %>


			<article>
				<div class="section_makeroome_top"></div><div class="section_makeroome_cent">
					<ul>
						<li class="saying"><%= suc_obj[i].title %></li>
						<li class="howmany_in"></li>
						<li class="fltr pad5"><a href="/ch/<%= suc_obj[i].id %>"><img src="/images/section_makeroome_tochat.gif" width="141" height="29" alt="チャットルームへ"></a></li>
					</ul>
				</div><div class="section_makeroome_bott"></div>
			</article>


<% } %>


			<!--div class="magb5"><a href="#"><img src="/images/common/show_morecontents_b.jpg"></a></div-->


		</section>
	</div><!--/#contents_wrapp_inside-->
</div><!--/#contents_wrapp-->



</div><!--/#wrapper-->
	<!--lightbox form-->
	<div id="likebox_wrapp_form" style="display:none;">
		<form action="/create-chat" method="post" enctype="multipart/form-data" name="full-form-tag" style="background:#fff;" >
			<h3 id="likebox_wrapp_form_title">新しいチャットルームをつくる</h3>
			<table class="likebox_wrapp_form_table">
				<tr>
					<th>チャットルーム名：</th>
					<td><input type="text" value="" id="title" name="title" class="ligntboxinput" maxlength="20"><span style="color:#333">(20文字)</span></td>
				</tr>
				<tr>
					<th>説明：</th>
					<td><textarea class="ligntboxtextarea" maxlength="200" id="detail" name="detail"></textarea><div style="color:#333">(200文字)</div></td>
				</tr>
				<!--tr>
					<th>背景画像：</th>
					<td><input type="file" name="file" id="dec_image" value="" class="ligntboxinput"></td>
				</tr-->
				<tr>
					<th>管理人：</th>
					<td><div id="create_chat_admin"></div></td>
				</tr>
			</table>
			<div class="txtc padb10">
				<input type="hidden" id="dec_relation_id" name="dec_relation_id" value="<%= dec_detail.id %>" />
				<input type="reset" value="キャンセル" class="nyroModalClose"><input type="submit" id="submit-event" value="作成" />
			</div>
		</form>
	</div><!--/#likebox_wrapp-->
	<!--/lightbox form-->
	<!--lightbox invite-->
		<div id="lightboxinvite_wrapp" style="width:698px; background:#ffffff; margin:0px auto; display:none;">
		<h3 id="makecommunity_invite_h3" class="padt10"><img src="/images/makecommunity_invite_h3.gif" width="98" height="15" alt="友達を招待する"></h3>
		<div id="makecommunity_invite_tab">
			<ul id="tab_ul">
				<li id="tab_1" class="bg_ov top1px" style="display:none;"><img src="/images/makecommunity_invite_fb.png" width="97" height="25" alt=""></li>
				<li id="tab_2" class="bg_ov top1px" style="display:none;"><img src="/images/makecommunity_invite_tw.png" width="98" height="25" alt=""></li>
				<li id="tab_3" class="bg_ov top1px" style="display:none;"><img src="/images/makecommunity_invite_mx.png" width="79" height="25" alt=""></li>
				<li id="tab_4" class="bg_ov top1px" style="display:none;"><img src="/images/makecommunity_invite_ml.png" width="41" height="25" alt=""></li>
			</ul>
				<div id="scrollbar1">
					<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
					<div class="viewport">
						 <div class="overview">

						<ul id="tab_1_area" class="tab_wrapp none"></ul>

						<ul id="tab_2_area" class="tab_wrapp none"></ul>

						<ul id="tab_3_area" class="tab_wrapp none">
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
						</ul>
						<ul id="tab_4_area" class="tab_wrapp none">
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">4飯島　おさむ</div>
							</li>
						</ul>
						</div><!--/overview-->
					</div><!--/viewport-->
					<div id="end_disp" style="display:none; overflow:hidden; color:#333333; height:347px; "class="txtc text20">
						<p style="font-weight:bold; padding-top:200px;">招待完了</p>
					</div><!--end_disp-->
				</div><!--/scrollbar1-->
		</div><!--/makecommunity_invite_tab-->
		<div class="padt20 bg_w bdlf bdbt bdrt txtc" style="width:698px; height:114px;"><input type="image" id="inv_submit" class="mag0a" onclick="sendMessage()" src="/images/makecommunity_invite_submit.png" width="396" height="73" alt="送信"></div>
	</div>
	<!--/lightbox invite-->
<script type="text/javascript">
$(function() {
	$('.nyroModal').nyroModal();
});
</script>





<div class="main-img" style="display:none;">
		<div class="ticket-wrapper">
		<div class="left">
			<div class="icon"><img src="<%= dec_detail.user_image %>"></div>
			<h3 class="title"><%= dec_detail.title %><br><span class="username">by <%= dec_detail.user_name %></span><!--br><span class="tag">一緒に楽しむメンバ</span><span class="status-a">参加者募集中</span--></h3>
			<div class="member" id="member-parts-area-<%= dec_detail.id %>"></div>
		</div>
		<div class="right"><ul>
			<a href="#" name="join-button-right"><li class="btn" id="join-button-right-<%= dec_detail.id %>" style="display:none;">参加</li></a>
			<a href="/ch/<%= dec_detail.id %>" name="room-button-right"><li class="btn2" id="room-button-right-<%= dec_detail.id %>" style="display:none;">会場</li></a>
			<a href="/auth/twitter"><div class="btn" id="login-button-right-<%= dec_detail.id %>" style="display:none;">ログイン</div></a>
		</ul></div>
		<div class="participant" id="dec-supporters-<%= dec_detail.id %>">
		</div>
	</div>
<div class="left-content" style="display:none;">
		<h2 class="title">詳細</h2>
		<div class="details">
			<%= dec_detail.detail %>
		</div>
		<div><ul>
			<a href="#" name="join-button-bottom"><li class="btn" id="join-button-bottom-<%= dec_detail.id %>" style="display:none;">参加する</li></a>
			<a href="/ch/<%= dec_detail.id %>" name="room-button-bottom"><li class="btn2" id="room-button-bottom-<%= dec_detail.id %>" style="display:none;">会場に行く</li></a>
			<a href="/auth/twitter"><div class="btn" id="login-button-bottom-<%= dec_detail.id %>" style="display:none;">ログイン</div></a>
			
		</ul></div>
	</div>

<div class="clear"></div>
<div id="write-script-area" style="display:none;"></div>
</div>








<script type="text/javascript">
<!--
  $().ready(function(){

  	var date_state = 0;
    var event_id = <%= dec_detail.id %>;
    
    // 読み込まれた時のアクション
	$.ajax({
		type: 'GET',
		url: '/get-is-supporters',
		data: {dec_id: <%= dec_detail.id %>},
		success: function(data){
			if (data.res_flg) {
				// 取り消しボタンの表示
				$('#cancel-join-button-right-join-'+event_id).show();
				// 参加ボタンの非表示
				$('#join-button-right-join-'+event_id).hide();
				// 参加しているから表示
				$('#section_make_chatroom').show();
				$('.magt15_magb15').show();
			} else {
				// 参加ボタンの表示
				$('#join-button-right-join-'+event_id).show();
				// 取り消しボタンの非表示
				$('#cancel-join-button-right-join-'+event_id).hide();
				// 参加していないから非表示
				$('#section_make_chatroom').hide();
				$('.magt15_magb15').hide();
			}
		},
		error: function(data){
			if (data.status === 401) {
				$('#join-button-right-join-'+event_id).show();
				// ログインしていないから非表示
				$('#section_make_chatroom').hide();
				$('.magt15_magb15').hide();
				// ローカル変数にステータスを入れておく
				date_state = data.status;
			}
		}
	});

    // 読み込まれた時のアクション
	$.ajax({
		type: "GET",
		url: "/get-supporters",
		data: {id: event_id, limit: 20},
		success: function(data)
		{
			var img_tag = "";
			if (!data.supporter_data) {return false;}
			for (var j = 0; j < data.supporter_data.length; j++)
			{
				var img_id = event_id;
				img_id += '__'+data.supporter_data[j].id;
				img_tag += '<img src="' + data.supporter_data[j].image + '" id="dec-supporters-' + img_id + '">';
			}
			if( data.supporter_login )
			{
				var create_chat_admin = '<img src="' + data.supporter_image + '" width="40" height="40"><div style="color:#333">' + data.supporter_name + '</div>';
				$("#create_chat_admin").append(create_chat_admin);
			}
			$("#dec-supporters-"+event_id).prepend(img_tag);
		},
		error: function(data)
		{
		}
	});

	// 参加クリック時
	$('a[name="join-button-right-join"]').live('click', function()
	{
		if( date_state === 401 )
		{
			alert( 'ログインしてください。' );
			return false;
		}

		var obj = $(this);
		var event_obj = obj.find('img');
		var event_id  = event_obj.attr('id');
		event_id = parseInt(event_id.match(/[0-9]+/));
		var loader_img = $('<img src="/img/loader-mini.gif">');
		event_obj.html(loader_img);

		$.ajax({
			type: 'POST',
			url: '/join-commit',
			data: {id: event_id},
			success: function(data)
			{
				if (data.join_flg === 'ok')
				{
					$('.magt15_magb15').show();
					// 参加取消ボタンは表示
					$('#cancel-join-button-right-join-'+<%= dec_detail.id %>).show();
					// 参加ボタンは隠す
					$('#join-button-right-join-'+event_id).hide();
					// 参加しているから表示
					$('#section_make_chatroom').animate({height:'show', opacity:'show'}, "slow");

					// 人数も変更
					var sup_cnt = $('#member-counter-'+event_id).text();
					sup_cnt = parseInt(sup_cnt.match(/[0-9]+/)) + 1;
					if (sup_cnt > 0)
					{
						$('#member-counter-'+event_id).text(sup_cnt);
						var user_icon = '<img src="' + data.user_image + '" id="dec-supporters-' +event_id + '__' + data.user_id + '">';
						$('#dec-supporters-'+event_id).prepend(user_icon).hide().animate({height:'show', opacity:'show'}, "slow");
					}
					var create_chat_admin = '<img src="' + data.user_image + '" width="40" height="40"><div  style="color:#333">' + data.user_name + '</div>';
					$("#create_chat_admin").html('');
					$("#create_chat_admin").append(create_chat_admin);
				}
				event_obj.empty();
			},
			error: function(data)
			{
				// error
			}
		});
		return false;
	});

	// 参加取消クリック処理
	$('a[name="cancel-join-button-right-join"]').live('click', function()
	{
		if (window.confirm('本当に参加取り消しますか？')){}
		else{
			return false;
		}

		// ローディング画像
		var obj = $(this);
		var event_obj = obj.find('img');
		var event_id  = event_obj.attr('id');
		event_id = parseInt(event_id.match(/[0-9]+/));
		var loader_img = $('<img src="/img/loader-mini.gif">');
		event_obj.html(loader_img);

		$.ajax({
			type: 'GET',
			url: '/cancel-join',
			data: {dec_id: <%= dec_detail.id %>},
			success: function(data)
			{
				if (data.flg_cancel_join === 'ok')
				{
					$('#dec-supporters-'+event_id+'__'+data.auth_user_id).animate({height:'hide', opacity:'hide'}, "slow",
					function()
					{
						$('#dec-supporters-'+event_id+'__'+data.auth_user_id).remove();
						var sup_cnt = $('#member-counter-'+event_id).text();
						member_counter = parseInt(sup_cnt.match(/[0-9]+/));
						if (member_counter > 0)
						{
							sup_cnt--;
							// 参加取り消しを非表示
							$('#cancel-join-button-right-join-'+event_id).hide();
							// 参加を表示
							$('#join-button-right-join-'+event_id).show();
							// 参加していないから非表示
							$('#section_make_chatroom').animate({height:'hide', opacity:'hide'}, "slow");
							$('#member-counter-'+event_id).text(sup_cnt);
							$('.magt15_magb15').hide();
						}
						// ローディング終了
						event_obj.empty();
					});
				}
			},
			error: function(data)
			{
				// error
			}
		});
	});

    //$('#deadline').datetimepicker({
    //  //addSliderAccess: true
    //  //sliderAccessArgs: { touchonly: false }
    //});
    //$('#deadline').datepicker();
    //$('#description').autosize();
    $('#detail').autosize();


    $("#full-form-tag").validate({
      rules: {
        title: {
          required: true
        },
        //description: {
        //  required: true
        //},
        detail: {
          required: true
        }
        //target_num: {
        //  required: true,
        //  number: true
        //},
        //deadline: {
        //  required: true,
        //  date: true
        //}
      },
      messages: {
        title: "タイトルを入力してください。",
        //description: "概要を入力して下さい",
        detail: "詳細な内容を入力して下さい"
        //target_num: "有効な数字を入力して下さい",
        //deadline: "有効な日付を入力して下さい"
      },
      //errorClass: "alert-error",
      errorElement: "span"
    });

  });

  $('#submit-cancel').click(function() {
    location.href = '/mypage';
    return;
  });



  $('#submit-event').click(function() {
    var title = $('#title').val()
      //, description = $('#description').val()
      , detail      = $('#detail').val()
      , dec_relation_id      = $('#dec_relation_id').val()
      //, target_num  = $('#target_num').val()
      //, deadline    = $('#deadline').val()
      //, rental_time = $('input[name=rental-time]:checked').val()
      , dec_image   = ''
      ;

    // 画像アップロードがあったら
    if ($('#user_up_img').attr('src')) {
      dec_image = $('#user_up_img').attr('src');
    }


    var post_data = {
        title: title
    //  , description: description
      , detail:      detail
    //  , target_num:  target_num
    //  , deadline:    deadline
    //  , rental_time: date_rental
      , dec_relation_id:   dec_relation_id
      , dec_image:   dec_image
    };

    $.ajax({
      type: 'POST',
      url: '/create-chat',
      data: post_data,
      success: function(data){
        if (data.flg_create) {

          // post成功
          location.href='/ch/' + data.chat_create_id;
        }
      },
      error: function(data){
        // error
      }
    });

    return false;
  });

//-->
</script>




<%- partial('footer') %>
<%- partial('footer-script') %>

</body>
</html>
