!!! 5
html(lang='ja')
  head
    meta(charset='utf-8')
    title dotOne 宣言一覧
    meta(name='description', content='')
    meta(name='author', content='')
    //
       Le HTML5 shim, for IE6-8 support of HTML elements 
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    //
       Le styles 
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    style(type='text/css')
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
    link(href='/css/bootstrap.min.responsive', rel='stylesheet')
    //
       Le fav and touch icons 
    link(rel='shortcut icon', href='images/favicon.ico')
    link(rel='apple-touch-icon', href='images/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='images/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='images/apple-touch-icon-114x114.png')
    script(src='/js/jquery-1.6.1.min.js')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') dotOne
          .nav-collapse
            ul.nav
              li.active
                a(href='#') 宣言一覧
              li
                a(href='#about') サクセス一覧
              li
                a(href='#contact') dot1について
          //
            /.nav-collapse 
    .container
      //
         Main hero unit for a primary marketing message or call to action 
      .hero-unit
        h1 宣言中の活動
      ul.nav.nav-tabs
        li.active
          a(href='#') みんなの宣言
      //
         Example row of columns 
      .row
        for declaration in declaration_list
          .span4
            h2 #{declaration.title}
            .well
              p #{declaration.description}
              .progress.progress-info.progress-striped
                .bar(style='width: #{declaration.ratio}%;')
              h3 #{declaration.supporter_num}／#{declaration.target_num}人　
              div(id="deadline_#{declaration.id}") 
              p
                a.btn(href='/dec/#{declaration.id}') 詳細 »
              script(type="text/javascript")
                $().ready(function(){
                  var d_obj = new Date("#{declaration.deadline}");
                  $('#deadline_'+#{declaration.id}).countdown({
                    until: d_obj,
                    layout: '残り {d<}{dn} 日 と {d>}{h<}{hn} 時間 {h>}{m<}{mnn} 分 {m>}{snn} 秒',
                    format: 'dhms'
                  });
                });
      hr
      footer
        p © Company 2012
    //
       /container 
    //
       Placed at the end of the document so the pages load faster 
    script(src='/socket.io/socket.io.js')
    style(type="text/css")
      @import "/js/countdown/jquery.countdown.css";
    script(src="/js/countdown/jquery.countdown.min.js")
    script(src="/js/countdown/jquery.countdown-ja.js")
  //
    script(src='js/bootstrap-transition.js')
    script(src='js/bootstrap-alert.js')
    script(src='js/bootstrap-modal.js')
    script(src='js/bootstrap-dropdown.js')
    script(src='js/bootstrap-scrollspy.js')
    script(src='js/bootstrap-tab.js')
    script(src='js/bootstrap-tooltip.js')
    script(src='js/bootstrap-popover.js')
    script(src='js/bootstrap-button.js')
    script(src='js/bootstrap-collapse.js')
    script(src='js/bootstrap-carousel.js')
    script(src='js/bootstrap-typeahead.js')


    script(type="text/javascript")

