!!! 5
html(lang='ja', xmlns:og='http://ogp.me/ns#', xmlns:fb='http://www.facebook.com/2008/fbml')
  //
     head 
  head
    title syaberi-house
    //
       meta 
    meta(charset='UTF-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    //
       meta ogp 
    meta(property='go:title', content='')
    meta(property='go:type', content='site')
    meta(property='go:url', content='')
    meta(property='go:description', content='')
    meta(property='go:image', content='')
    meta(property='go:site_name', content='syaberi-house')
    meta(property='fb:page_id', content='')
    //
       link 
    link(href='/css/style.css', rel='stylesheet', type='text/css', media='all')
    script(type='text/javascript', src='/js/iscroll.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/jquery-1.6.1.min.js')
    script(src='/js/jquery-simple-pubsub-0.2.1.js')
    script(src='/js/jquery.filedrop.js?v=1.0')
    script(src='/js/jquery.autosize.min.js?v=1.0')
    script(src='/js/function.js?v=1.0')
    script(src='/js/house.js?v=1.0')
    script(src='/js/audience.js?v=1.0')
    script(src='/js/chat.js?v=1.0')
    script(src='/js/timer.js?v=1.0')
    script(src='/js/user.js?v=1.0')
    script(src='/js/users.js?v=1.0')
    script(src='/js/filedrop-script.js?v=1.0')
    script
      $(document).ready(function() {
      $('body.chat').css('background-image', 'url(#{house_image})');
      $('#message1').autosize();
      });


      function onHouseReady() {
        // Ensure the DOM has been fully loaded.
        $( function () {

          console.log('user joining house.');

          audience.init({});
          //timer.init();

          users.init({

          });
          chat.init({
            user_id: '#{user_id}',
            userName: '#{user_name}',
            user_image: '#{user_image}'
          });
          house.init({
            // server 側のres.render() から値が渡されてくる
            // server 側でチェック済み
            url_id: '#{url_id}',
            house_id: '#{house_id}',
            house_image: '#{house_image}',
            user_id: '#{user_id}',
            user_image: '#{user_image}'
          });

          //$('body.chat').css({background-image: url('#{house_image}')});
          console.log( 'house ready: true' );
        });
      }

  //
     body 
  body.chat
    #container
      //
         container 

      #wrapper
        //
           wrapper 
        #scroller
          //
             iscroller 
          //
             header 
          header#globalheader
            .logo
              h3
                img(src='/img/logo-mini.png', alt='syaberi-house')
          //
             content-wrapper 
          section#content-wrapper
            .container
              //
                 container 
              .overlay
              .content
                //
                   content 
                .content-header
                  //
                     content-header 
                  .badge
                    img(src='/img/live-badge.png')
                  .title
                    //
                       title 
                    h1 #{house_name}
                    p #{house_desc}
                  //
                     /title 
                  .member-face
                    //
                       member-face 
                    ul
                      #users_view.header-icon
                  //
                     /member-face 
                //
                   /content-header 
                div(style='clear: both;')
                .content-body
                  //
                     content-body 
                  .main-view
                    //
                       main-view 
                    .title 全体公開 view
                    .view
                      //
                         view 
                      #disparea
                    //
                       /view 
                    #audienceview.audience
                      //
                         audience 
                    //
                       /audience 
                  //
                     /main-view 
                  .main-chat
                    //
                       main-chat 
                    .inputleft
                      img(src='/img/chatleft.png')
                    .title voice
                    .input
                      //
                         input 
                      form#send-message1
                        table.dummy(cellspacing='0', cellpadding='0')
                          tbody
                            tr
                              td
                                .inputContainer
                                  textarea#message1
                            tr
                              td
                                .buttonContainer
                                  #dropbox
                                    span#drop_message.message Drop images here to upload.
                                  //#tmp_message_area
                                  label(for='submit_1')
                                    input#submit_1.submitBtn(type='button', value='投稿')
                        form
                    //
                       /input

                    //#dropbox
                      span#drop_message.message Drop images here to upload.
                    #lines1.chat
                      //
                         chat 
                    //
                       /chat 
                  //
                     /main-chat 
                //
                   /content-body 
                div(style='clear: both;')
              //
                 /container 
            //
               /content 
          //
             footer 
          footer#globalfooter
        //
           /iscroller 
      //
         /wrapper 
      //
         audience 
      #footer
        .user
          img.img(src='#{user_image}')
          span.name #{user_name}
        #icon_area.controller
          ul
            li
              img(src='/img/funnybtn.png')
            li
              img(src='/img/egakimoji.png')
        .menu
          .controller
            ul
              li
                a(href='/')
                  img(src='/img/to-home.png')
    //
       /container 

      script
        onHouseReady();
