<!DOCTYPE HTML>
<html lang="ja">
<head>
<title>プロフィール設定｜シャベリハウス</title>
<meta charset="UTF-8">
<meta name="description" content="twitterユーザーが趣味と興味でつながるリアルタイムなおしゃべり部屋。シャベリハウス">
<meta name="keywords" content="シャベリハウス,チャット,趣味,興味,twitter">
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" charset="UTF-8"></script><![endif]-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" charset="UTF-8"></script>
<script src="/js/common.js" type="text/javascript" charset="UTF-8"></script>
<link rel="stylesheet" href="/css/html5reset-1.6.1.css" />
<link rel="stylesheet" href="/css/common.css" />
<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<div id="wrapper">

<%- partial('header') %>


<div id="contents_wrapp">
	<div id="contents_wrapp_inside">
	<section id="section_left">
		<div id="left_column">
			<div id="make_community"><a href="#"><img src="/images/common/make_community.jpg" width="195" height="72" alt="コミュニティを作る"></a></div>
			<h3 id="community_list_2" class="bdtp">コミュニティリスト</h3>
			<article class="community_room">
				<h4>iOS5.1の部屋</h4>
				<table class="table_s">
					<tr>
					<td>
						<ul class="article_ul">
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
						</ul>
					</td>
					<td class="join">120<span>人<br>参加</span></td>
					</tr>
				</table>
			</article>
			<article class="community_room bg_g">
				<h4>iOS5.1の部屋</h4>
				<table class="table_s">
					<tr>
					<td>
						<ul class="article_ul">
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
						</ul>
					</td>
					<td class="join">120<span>人<br>参加</span></td>
					</tr>
				</table>
			</article>
			<article class="community_room">
				<h4>iOS5.1の部屋</h4>
				<table class="table_s">
					<tr>
					<td>
						<ul class="article_ul">
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
						</ul>
					</td>
					<td class="join">120<span>人<br>参加</span></td>
					</tr>
				</table>
			</article>
			<article class="community_room bg_g">
				<h4>iOS5.1の部屋</h4>
				<table class="table_s">
					<tr>
					<td>
						<ul class="article_ul">
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
						</ul>
					</td>
					<td class="join">120<span>人<br>参加</span></td>
					</tr>
				</table>
			</article>
			<article class="community_room">
				<h4>iOS5.1の部屋</h4>
				<table class="table_s">
					<tr>
					<td>
						<ul class="article_ul">
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
						</ul>
					</td>
					<td class="join">120<span>人<br>参加</span></td>
					</tr>
				</table>
			</article>
			<article class="community_room bg_g">
				<h4>iOS5.1の部屋</h4>
				<table class="table_s">
					<tr>
					<td>
						<ul class="article_ul">
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
						</ul>
					</td>
					<td class="join">120<span>人<br>参加</span></td>
					</tr>
				</table>
			</article>
			<article class="community_room">
				<h4>iOS5.1の部屋</h4>
				<table class="table_s">
					<tr>
					<td>
						<ul class="article_ul">
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
						</ul>
					</td>
					<td class="join">120<span>人<br>参加</span></td>
					</tr>
				</table>
			</article>
			<article class="community_room bg_g">
				<h4>iOS5.1の部屋</h4>
				<table class="table_s">
					<tr>
					<td>
						<ul class="article_ul">
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
						</ul>
					</td>
					<td class="join">120<span>人<br>参加</span></td>
					</tr>
				</table>
			</article>
			<article class="community_room">
				<h4>iOS5.1の部屋</h4>
				<table class="table_s">
					<tr>
					<td>
						<ul class="article_ul">
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
						</ul>
					</td>
					<td class="join">120<span>人<br>参加</span></td>
					</tr>
				</table>
			</article>
			<article class="community_room bg_g">
				<h4>iOS5.1の部屋</h4>
				<table class="table_s">
					<tr>
					<td>
						<ul class="article_ul">
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
						</ul>
					</td>
					<td class="join">120<span>人<br>参加</span></td>
					</tr>
				</table>
			</article>
		</div><!--/contents_wrapp_inside-->
	</section>
	<section id="section_center">
		<div class="center_column_set">
			<h3 id="setting_setaccount">SNSアカウント設定</h3>
				<form action="" method="">
				<ul class="set_sns bdtp bdbt">
					<li><img src="/images/setting_fb.jpg" width="125" height="24" alt="facebook" class="padt8"></li>
					<li><div class="set_sns_thumb"><input type="radio" name="thumbname" value="" id="decide_thumb1"><label for="decide_thumb1">サムネイルに設定</label></div></li>
					<li><div class="set_sns_button"><a href="#"><img src="/images/setting_account_del.gif" width="91" height="40" alt="登録削除"></a></div></li>
				</ul>
				<ul class="set_sns bdbt">
					<li><img src="/images/setting_tw.jpg" width="125" height="21" alt="twitter" class="padt8"></li>
					<li><div class="set_sns_thumb"><input type="radio" name="thumbname" value="" id="decide_thumb2"><label for="decide_thumb2">サムネイルに設定</label></div></li>
					<li><div class="set_sns_button"><a href="#"><img src="/images/setting_account_del.gif" width="91" height="40" alt="登録削除"></a></div></li>
				</ul>
				<ul class="set_sns">
					<li><img src="/images/setting_mx.jpg" width="125" height="31" alt="mixi" class="padt8"></li>
					<li><div class="set_sns_thumb"></div></li>
					<li><div class="set_sns_button"><a href="#"><img src="/images/setting_add_mx.gif" width="107" height="40" alt="mixi IDを登録"></a></div></li>
				</ul>
				</form>
		</div><!--/.center_column_set-->
		<div class="center_column_set magt22">
			<h3 id="setting_settag">タグ設定　オススメのコミュニティに設定されたタグにかかわる部屋が表示されます。</h3>
				<ul class="set_tag bdtp bg_w">
					<li>
						<form id="tag_box">
							<input type="text" id="input_tag_area" value="" />
							<input type="image" src="/images/setting_tag_add.gif" title="追加" id="tag_submit" />
						</form>
					</li>
				</ul>
				<ul class="set_tag bdtp bg_g">
					<li><div class="set_tag_str">AppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleApple</div></li>
					<li><div class="set_tag_del"><a href="#"><img src="/images/setting_tag_del.gif" width="91" height="29" alt="削除"></a></div></li>
				</ul>
				<ul class="set_tag bdtp bg_w">
					<li><div class="set_tag_str">オリンピック</div></li>
					<li><div class="set_tag_del"><a href="#"><img src="/images/setting_tag_del.gif" width="91" height="29" alt="削除"></a></div></li>
				</ul>
				<ul class="set_tag bdtp bg_g">
					<li><div class="set_tag_str">フットサル</div></li>
					<li><div class="set_tag_del"><a href="#"><img src="/images/setting_tag_del.gif" width="91" height="29" alt="削除"></a></div></li>
				</ul>
				<ul class="set_tag bdtp bg_w">
					<li><div class="set_tag_str">マンガ</div></li>
					<li><div class="set_tag_del"><a href="#"><img src="/images/setting_tag_del.gif" width="91" height="29" alt="削除"></a></div></li>
				</ul>
				<ul class="set_tag bdtp bg_g">
					<li><div class="set_tag_str">iphone</div></li>
					<li><div class="set_tag_del"><a href="#"><img src="/images/setting_tag_del.gif" width="91" height="29" alt="削除"></a></div></li>
				</ul>
				<ul class="set_tag bdtp bg_w">
					<li><div class="set_tag_str">ダイエット</div></li>
					<li><div class="set_tag_del"><a href="#"><img src="/images/setting_tag_del.gif" width="91" height="29" alt="削除"></a></div></li>
				</ul>
				<ul class="set_tag bdtp bg_g">
					<li><div class="set_tag_str">Apple</div></li>
					<li><div class="set_tag_del"><a href="#"><img src="/images/setting_tag_del.gif" width="91" height="29" alt="削除"></a></div></li>
				</ul>
				<ul class="set_tag bdtp bg_w">
					<li><div class="set_tag_str">オリンピック</div></li>
					<li><div class="set_tag_del"><a href="#"><img src="/images/setting_tag_del.gif" width="91" height="29" alt="削除"></a></div></li>
				</ul>
				<ul class="set_tag bdtp bg_g">
					<li><div class="set_tag_str">フットサル</div></li>
					<li><div class="set_tag_del"><a href="#"><img src="/images/setting_tag_del.gif" width="91" height="29" alt="削除"></a></div></li>
				</ul>
				<ul class="set_tag bdtp bg_g">
					<li><div class="set_tag_str">Apple</div></li>
					<li><div class="set_tag_del"><a href="#"><img src="/images/setting_tag_del.gif" width="91" height="29" alt="削除"></a></div></li>
				</ul>
				<ul class="set_tag bdtp bg_w">
					<li><div class="set_tag_str">オリンピック</div></li>
					<li><div class="set_tag_del"><a href="#"><img src="/images/setting_tag_del.gif" width="91" height="29" alt="削除"></a></div></li>
				</ul>
				<ul class="set_tag bdtp bg_g">
					<li><div class="set_tag_str">フットサル</div></li>
					<li><div class="set_tag_del"><a href="#"><img src="/images/setting_tag_del.gif" width="91" height="29" alt="削除"></a></div></li>
				</ul>
				<ul class="set_tag bdtp bg_w">
					<li><div class="set_tag_str">マンガ</div></li>
					<li><div class="set_tag_del"><a href="#"><img src="/images/setting_tag_del.gif" width="91" height="29" alt="削除"></a></div></li>
				</ul>
				<ul class="set_tag bdtp bg_g">
					<li><div class="set_tag_str">iphone</div></li>
					<li><div class="set_tag_del"><a href="#"><img src="/images/setting_tag_del.gif" width="91" height="29" alt="削除"></a></div></li>
				</ul>
				<ul class="set_tag bdtp bg_w">
					<li><div class="set_tag_str">ダイエット</div></li>
					<li><div class="set_tag_del"><a href="#"><img src="/images/setting_tag_del.gif" width="91" height="29" alt="削除"></a></div></li>
				</ul>
				<ul class="set_tag bdtp bg_w">
					<li><div class="set_tag_str">マンガ</div></li>
					<li><div class="set_tag_del"><a href="#"><img src="/images/setting_tag_del.gif" width="91" height="29" alt="削除"></a></div></li>
				</ul>
				<ul class="set_tag bdtp bg_g">
					<li><div class="set_tag_str">iphone</div></li>
					<li><div class="set_tag_del"><a href="#"><img src="/images/setting_tag_del.gif" width="91" height="29" alt="削除"></a></div></li>
				</ul>
				<ul class="set_tag bdtp bg_w">
					<li><div class="set_tag_str">ダイエット</div></li>
					<li><div class="set_tag_del"><a href="#"><img src="/images/setting_tag_del.gif" width="91" height="29" alt="削除"></a></div></li>
				</ul>
		</div><!--/.center_column_set-->
	</section>
	<section id="section_right">
		<div class="right_column">
			<h3 id="community_recommend">オススメのコミュニティ</h3>
			<article class="community_room">
				<div class="txtc"><a href="#"><img src="/images/top_thumb_m.jpg" width="193" class="imgborder"></a></div>
				<h4>iOS5.1の部屋</h4>
				<p>■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□</p>
				<table class="table_s">
					<tr>
					<td>
						<ul class="article_ul">
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
						</ul>
					</td>
					<td class="join">120<span>人<br>参加</span></td>
					</tr>
				</table>
			</article>
			<article class="community_room bg_g">
				<div class="txtc"><a href="#"><img src="/images/top_thumb_m.jpg" width="193" class="imgborder"></a></div>
				<h4>iOS5.1の部屋</h4>
				<p>■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□</p>
				<table class="table_s">
					<tr>
					<td>
						<ul class="article_ul">
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
						</ul>
					</td>
					<td class="join">120<span>人<br>参加</span></td>
					</tr>
				</table>
			</article>
		</div><!--/.right_column-->
		<div class="right_column magt20">
			<h3 id="community_joined">友達の参加しているコミュニティ</h3>
			<article class="community_room">
				<table class="friends_joind">
					<tr>
					<td><a href="#"><img src="/images/thumb_s2.jpg" width="40" height="40"></a></td>
					<td>山口　ゆうすけ</td>
					</tr>
				</table>
				<div class="txtc"><a href="#"><img src="/images/top_thumb_m.jpg" width="193" class="imgborder"></a></div>
				<h4>iOS5.1の部屋</h4>
			</article>
			<article class="community_room bg_g">
				<table class="friends_joind">
					<tr>
					<td><a href="#"><img src="/images/thumb_s2.jpg" width="40" height="40"></a></td>
					<td>山口　ゆうすけ</td>
					</tr>
				</table>
				<div class="txtc"><a href="#"><img src="/images/top_thumb_m.jpg" width="193" class="imgborder"></a></div>
				<h4>iOS5.1の部屋</h4>
			</article>
		</div><!--/.right_column-->
	</section>
	</div><!--/#contents_wrapp_inside-->
</div><!--/#contents_wrapp-->
<%- partial('footer') %>
<%- partial('footer-script') %>
</div><!--/#wrapper-->











<div class="main-img"></div>
<h2 class="title">設定変更</h2>
<div class="full-form">
<div id="msg-area"></div>
<form id="full-form-tag" name="full-form-tag" method="post" action="/profile-change">
		<h3>USER INFO</h3>
		<div class="form-container">
			<div class="title">メールアドレス</div>
			<div class="content"><input type="text" size="30" id="mail_addr" name="mail_addr" value="<%= user_data[0].mail_addr %>"></div>
			<div class="side"></div>
		</div>
		<div class="form-container">
			<div id="img-loader" class="btn" style="text-align:center;padding:20px;display:none;"><img src="/img/loader.gif" /></div>
			<div class="button">
				<span class="btn" id="submit-event">変更する</span>  <span class="btn" id="submit-cancel">キャンセル</span>
			</div>
		</div>
<input type="hidden" id="onetime_token" name="onetime_token" value="<%= onetime_token %>">
</form>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/localization/messages_ja.js"></script>

<script type="text/javascript">
<!--
  $().ready(function(){

    $("#full-form-tag").validate({
      rules: {
        mail_addr: {
          required: true,
          email: true
        }
      },
      messages: {
        mail_addr: "有効なメールアドレスを入力して下さい"
      },
      //errorClass: "alert-error",
      errorElement: "span"
    });

  });

  $('#submit-cancel').click(function() {
    location.href = '/mypage';
    return;
  });


  $('#submit-event').click(function() {
    var mail_addr = $('#mail_addr').val()
      , onetime_token = $('#onetime_token').val()
      ;

    $('#img-loader').show();
    var post_data = {
        mail_addr: mail_addr
      , onetime_token: onetime_token
    };

    $.ajax({
      type: 'POST',
      url: '/profile-change',
      data: post_data,
      success: function(data){
        if (data.flg_profile_change) {
          // post成功
          $('#img-loader').hide();
          $('#msg-area').text('変更完了しました');
        }
      },
      error: function(data){
        // error
        $('#img-loader').hide();
        $('#msg-area').text('エラーが発生しました');
      }
    });

    return false;
  });

//-->
</script>
</body>
</html>
