<!DOCTYPE HTML>
<html lang="ja">
<head>
<title>マイページ｜シャベリハウス</title>
<meta charset="UTF-8">
<meta name="description" content="twitterユーザーが趣味と興味でつながるリアルタイムなおしゃべり部屋。シャベリハウス">
<meta name="keywords" content="シャベリハウス,チャット,趣味,興味,twitter">
<script src="/js/globalcommon.js" charset="UTF-8"></script>
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" charset="UTF-8"></script><![endif]-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" charset="UTF-8"></script>
<script src="/js/common.js" type="text/javascript" charset="UTF-8"></script>
<link rel="shortcut icon" href="http://syaberi-house.com/images/favicon.ico" />
<!-- analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29477382-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
<link rel="stylesheet" href="/css/html5reset-1.6.1.css" />
<script type="text/javascript">
var uaiph = 0;
var uaand = 0;
var uaetc = 0;
	if(navigator.userAgent.indexOf('iPhone') != -1){
		document.write('<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />');
		document.write('<link rel="stylesheet" href="/css/common_smapho.css" />');
		document.write('<link rel="stylesheet" type="text/css" href="/css/style_smapho.css">');
		uaiph = 1;
	}else if(navigator.userAgent.indexOf('Android') != -1){
		document.write('<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />');
		document.write('<link rel="stylesheet" href="/css/common_smapho.css" />');
		document.write('<link rel="stylesheet" type="text/css" href="/css/style_smapho.css">');
		uaand = 1;
	}else{
		document.write('<link rel="stylesheet" type="text/css" href="/css/style.css">');
		document.write('<link rel="stylesheet" href="/css/common.css" />');
		uaetc = 1;
	}
</script>
</head>
<body>
<div id="wrapper">

<%- partial('header') %>


<div id="contents_wrapp">
	<div id="contents_wrapp_inside">
	<section id="section_left">
		<div id="left_column">
			<div id="make_community"><a href="/create-dec"><img src="/images/common/make_community.jpg" width="195" height="72" alt="コミュニティを作る"></a></div>
			<!--div id="community_list" class="clearfix"-->
				<h3 id="community_list_2" class="bdtp"><img src="/images/common/community_list.gif" alt="コミュニティリスト"></h3>
				<!--
				<a href="javascript:void(0)" id="hakunetsu" class="community_tab active_thing top1px">白熱中！</a>
				<a href="javascript:void(0)" id="joinning" class="community_tab">参加中の部屋</a>
				-->
			<!--/div-->
<!--左カラム　コミュニティリスト　白熱中！-->
			<div id="hakunetsu_area" class="shownot">
			
	<% for (var i in dec_list_owner) { %>
		
		<article class="community_room">
			<a href="/dec/<%= dec_list_owner[i].id %>"><h4><%= dec_list_owner[i].title %></h4></a>
			<table class="table_s">
				<tr>
				<td>
					<ul class="article_ul">
					<% for ( var j in user_dec_list) { %>
						<% if ( dec_list_owner[i].id == user_dec_list[j].sup_dec_id) { %><li><a href="#"><img src="<%=user_dec_list[j].image%>"></a></li><% } %>
					<% } %>
					</ul>
				</td>
				<td class="join"><%= dec_list_owner[i].supporter_num %><span>人<br>参加</span></td>
				</tr>
			</table>
		</article>
		<!--article class="community_room bg_g"-->
		
		
		
	<% } %>
			</div><!--/hakunetsu-->
<!--/左カラム　コミュニティリスト　白熱中！-->
<!--左カラム　コミュニティリスト　参加中の部屋-->
			<div id="joinning_area" class="shownot none">
			<article class="community_room">
				<h4>iOS5.1の部屋</h4>
				<table class="table_s">
					<tr>
					<td>
						<ul class="article_ul">
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
						</ul>
					</td>
					<td class="join">120<span>人<br>参加</span></td>
					</tr>
				</table>
			</article>
			<article class="community_room bg_g">
				<h4>iOS5.1の部屋</h4>
				<table class="table_s">
					<tr>
					<td>
						<ul class="article_ul">
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
						</ul>
					</td>
					<td class="join">120<span>人<br>参加</span></td>
					</tr>
				</table>
			</article>
			</div><!--/joinning-->
<!--/左カラム　コミュニティリスト　参加中の部屋-->
		</div><!--/contents_wrapp_inside-->
	</section>
	<section id="section_center">
		<div id="center_column">
<!--///////////////////////////-->
<div id="article_area">
	<script type="text/javascript">
	<!--
	var last_id_my;
	-->
	</script>

	<% for (var i in dec_list) { %>
		<article class="timeline">
			<div class="smatc">

				<script>
				if(<%= dec_list[i].live %>){
					document.write('<div class="live_b">LIVE</div>');
				}
				</script>

				<div class="topthumb_b"><a href="/dec/<%= dec_list[i].id %>"><img src="/data/<%= dec_list[i].id %>/images/thumb_m.jpg" onerror='this.src="/images/common/nowprinting_m.jpg"' class="dec_thumb_m"></a></div>
				<h3><a href="/dec/<%= dec_list[i].id %>"><%= dec_list[i].title %></a></h3>
				<p><%= dec_list[i].detail %></p>
				<table class="table_b">
					<tr>
						<td>
						<ul class="article_ul_b" id="dec-supporters-<%= dec_list[i].id %>"></ul>
						</td>
						<td class="join_b">
							<%= dec_list[i].supporter_num %><span>人<br>参加</span>
						</td>
					</tr>
				</table>
				<div class="to_detailb padt5 txtc">
				<a href="/dec/<%= dec_list[i].id %>">
					<script>
					if(uaiph == 1 || uaand == 1){
						document.write('<img src="/images/top_to_detail.gif" alt="詳細">');
					}else{
						document.write('<img src="/images/top_to_detail_b.gif" alt="詳細">');
					}
					</script>
				</a>
			</div>
		</article>

		<script type="text/javascript">
		<!--
		$().ready(function(){
		  $.ajax({
		    type: "GET",
		    url: "/get-supporters",
		    data: {id: <%= dec_list[i].id %>, limit:18},
		    success: function(data){

		      var img_tag = '';
		      for (var j = 0; j < data.supporter_data.length; j++){
		        // imgタグを作成
		        img_tag += '<li><a herf="/"><img src="'+data.supporter_data[j].image+'"></a></li>';
		      }
		      $('#dec-supporters-<%= dec_list[i].id %>').append(img_tag);
		    },
		    error: function(data){
		      // error
		    }
		  });
		});
		
		//-->
		</script>

		<script type="text/javascript">
		<!--
		last_id_my = <%= dec_list[i].id %>;
		-->
		</script>
	<% } %>
</div><!--/article_area-->
		<script>
		if(uaiph == 1 || uaand == 1){
			document.write('<article class="txtc padt15">');
		}else{
			document.write('<article class="timeline txtc ">');
		}
		</script>
			<div id="roadmore_border">
				<div id="view-more-loader" style="text-align:center;display:none; height:30px;"><img src="/img/loader.gif" /></div>
				<a href="javascript:void(0);" id="view-more-events">
					<script>
					if(uaiph == 1 || uaand == 1){
						document.write('<img src="/images/common/show_morecontents_s.gif" width="100%" height="auto" alt="SHOW MORE CONTENTS">');
					}else{
						document.write('<img src="/images/common/show_morecontents.jpg" alt="SHOW MORE CONTENTS">');
					}
					</script>
				</a>
			</div>
			</article>
<!--///////////////////////////-->
		</div><!--/center_column-->
	</section>
	<section id="section_right">
		<div class="right_column">
			<h3 id="community_recommend">オススメのコミュニティ</h3>
			<article class="community_room">
				<div class="mypage_osusume_tumb"><a href="/dec/1"><img src="/images/01.jpg" onerror='this.src="/images/common/nowprinting_osusume.jpg"' class="dec_thumb_s"></a></div>
				<h4><a href="/dec/1">ようこそ！シャベリハウスへ</a></h4>
				<p>シャベリハウス初心者のひとが集まるチャット部屋です。</p>
				<!--table class="table_s">
					<tr>
					<td>
						<ul class="article_ul">
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
						</ul>
					</td>
					<td class="join">120<span>人<br>参加</span></td>
					</tr>
				</table-->
			</article>
			<article class="community_room bg_g">
				<div class="mypage_osusume_tumb"><a href="/dec/7"><img src="/data/7/images/thumb_l.jpg" onerror='this.src="/images/common/nowprinting_osusume.jpg"' class="dec_thumb_s"></a></div>
				<h4><a href="/dec/7">うまい棒</a></h4>
				<p>うまい棒 たこ焼き？ いいえ、 めんたいこ。</p>
				<!--table class="table_s">
					<tr>
					<td>
						<ul class="article_ul">
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
							<li><a href="#"><img src="/images/top_thumb_s.jpg"></a></li>
						</ul>
					</td>
					<td class="join">120<span>人<br>参加</span></td>
					</tr>
				</table-->
			</article>
		</div><!--/.right_column-->
		<% if ( fr_sup_list != "" ) { %>
		<div class="right_column magt20">
			<h3 id="community_joined">友達の参加しているコミュニティ</h3>
			<% for (var kk in fr_sup_list) { %>
			<article class="community_room">
				<table class="friends_joind">
					<tr>
					<td><img src="<%= fr_sup_list[kk].user_image %>" width="40" height="40"></td>
					<td><%= fr_sup_list[kk].user_name %></td>
					</tr>
				</table>
				<div class="mypage_friend_tumb"><a href="/dec/<%= fr_sup_list[kk].id %>"><img src="/data/<%= fr_sup_list[kk].id %>/images/thumb_s.jpg" onerror='this.src="/images/common/nowprinting_osusume.jpg"' class="dec_thumb_s"></a></div>
				<h4><a href="/dec/<%= fr_sup_list[kk].id %>"><%= fr_sup_list[kk].title %></a></h4>
			</article>
			<% } %>
		</div><!--/.right_column-->
		<% } %>
	</section>
	</div><!--/#contents_wrapp_inside-->
</div><!--/#contents_wrapp-->


<script type="text/javascript">
<!--
$().ready(function(){
	var last_id = 0;
	var write_data = '';
	// ul-my-events
	<% for (var i in dec_list) { %>
		var event_list = Object;
		event_list.id = <%= dec_list[i].id %>;
		event_list.title = "<%= dec_list[i].title %>";
		event_list.user_name = "<%= dec_list[i].user_name %>";
		event_list.user_image = "<%= dec_list[i].user_image %>";
		event_list.deadline = "<%= dec_list[i].deadline %>";
		event_list.target_num = <%= dec_list[i].target_num %>;
		event_list.supporter_num = <%= dec_list[i].supporter_num %>;
		write_data += makeEventListParts(event_list);
		last_id = <%= dec_list[i].id %>;
	<% } %>
	$('#ul-my-events').append(write_data);
});
-->
</script>

<%- partial('mypage-script') %>
<%- partial('footer') %>
<%- partial('footer-script') %>
</div><!--/#wrapper-->
</body>
</html>
