<style type="text/css">

.house_bg { background: url('http://files.hangame.co.jp/blog/2011/65/49193ff9/07/13/35709618/49193ff9_1310504154888.jpg'); }
</style>

<script type="text/javascript">
<!--
// house_bg
$().ready(function(){
	$('#main').addClass('house_bg');
});
-->
</script>


<div class="main-img">
		<div class="ticket-wrapper">
			<div class="left">
				<!--div class="icon"><img src="<%= suc_detail.image %>"></div-->
				<h3 class="title-noicon"><%= suc_detail.title %><br><span class="tag">一緒に楽しむメンバ</span></h3>
				<div class="time">期間: <%= suc_detail.deadline %> - ???</div>
				<div class="member">参加者: <%= suc_detail.supporter_num %>人/<%= suc_detail.target_num %>人</div>
			</div>
			<div class="participant"></div>
		</div>
	</div>
	<h2 class="title">LOGS</h2>
	<div class="details">
		<div class="details-left">
			<% send_data.reverse(); %>
			<% for(var i=0; i<200; i++){ %>
				<% if (!send_data[i]) {break;} %>
				<p>[<%= i+1 %>] <%= send_data[i].userName %> <img style="width:24px;" src="<%= send_data[i].user_image %>"></p>
				<p style="padding:15px 0;"><%= send_data[i].userMessage %></p>
				<div id="log_image_<%= i %>">
				<% if(send_data[i].image_src){ %>
					<p><img src="<%= send_data[i].image_src %>"></p>
				<% } %>
				</div>
				<p style="text-align:right;color:#999;font-size:12px;"><%= send_data[i].message_time %></p>
				
				<script type="text/javascript">
				<!--
					var str = "<%= send_data[i].userMessage %>";
					var rex = /http(s)?:\/\/([\w-]+\.)+[\w-]+(\/[\w-.\/?%&=]*)?/g;
					if(str.match(rex)){
						var matchUrl = str.match(rex);
						var showStr = '<img style="max-width:500px;" src="' + matchUrl + '">';
						$("#log_image_<%= i %>").html(showStr);
					}else{
						console.log('URLが見つかりませんでした。');
					}
				-->
				</script>

				<hr>
			<% } %>
		</div>
		<div class="details-right">
			<div class="view-counter">100,000<p>view</p></div>
			<div class="content">
				<%- suc_detail.detail %>
			</div>
		</div>
		<div class="clear"></div>
	</div>
